/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// HiDPI Framework CSS Rules Start                                                                    */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
body {
	background-image: url(../images/bgPat-1.png);
	background-size: 150px 150px;
}
.mainMenuButton {
	background-image: url(../images/mainMenuButtonBg.png);
	background-size: 24px 18px;
}
.mainMenuWrapper > li > a {
	background-image: url(../images/mainMenuItemBg.png);
	background-size: 20px 72px;
}
.backToTopButton {
	background-image: url(../images/backToTopButtonBg.png);
	background-size: 48px 48px;
}
.nivo-directionNav a {
	background-image: url(../images/sliderArrowsBg.png);
	background-size: 96px 48px;
}
.testimonialsTitle {
	background-image: url(../images/testimonialsTitleBg.png);
	background-size: 16px 16px;
}
.portfolioMenuWrapper li {
	background-image: url(../images/portfolioFilterableMenuDecoBg.png);
	background-size: 6px 18px;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../images/portfolioExpandButtonBg.png);
	background-size: 28px 16px;
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../images/portfolioDetailsButtonBg.png);
	background-size: 28px 16px;
}
.smallPostMoreButton {
	background-image: url(../images/smallPostReadMoreButtonBg.png);
	background-size: 28px 16px;
}
.smallPostQuote {
	background-image: url(../images/quoteBg.png);
	background-size: 16px 16px;
}
#cboxClose, #cboxPrevious, #cboxNext {
	background-image: url(../images/controlsBg.png);
	background-size: 98px 130px;
}
.formSuccessMessageWrapper > h4 {
	background-image: url(../images/iconCheckmarkBg16.png);
	background-size: 16px 16px;
}
.quoteWrapper > blockquote {
	background: none;
}
blockquote {
	background: url(../images/quoteBg.png) 0 0 no-repeat;
	background-size: 16px 16px;
}
.alertBoxWarning {
	background-image: url(../images/alertBoxWarningBg.png);
	background-size: 16px 16px;
}
.alertBoxStop {
	background-image: url(../images/alertBoxStopBg.png);
	background-size: 16px 16px;
}
.alertBoxGo {
	background-image: url(../images/alertBoxGoBg.png);
	background-size: 16px 16px;
}
.alertBoxInfo {
	background-image: url(../images/alertBoxInfoBg.png);
	background-size: 16px 16px;
}
.alertBoxButton {
	background-image: url(../images/alertBoxButtonBg.png);
	background-size: 16px 16px;
}
.accordionButton .accordionButtonIcon {
	background-image: url(../images/accordionButtonBg.png);
	background-size: 32px 32px;
}
.buttonArrowLeft {
	background-image: url(../images/iconArrowLeftBg16.png);
	background-size: 16px 16px;
}
.buttonArrowRight {
	background-image: url(../images/iconArrowRightBg16.png);
	background-size: 16px 16px;
}
.buttonBolt {
	background-image: url(../images/iconBoltBg16.png);
	background-size: 16px 16px;
}
.buttonCalendar {
	background-image: url(../images/iconCalendarBg16.png);
	background-size: 16px 16px;
}
.buttonCamera {
	background-image: url(../images/iconCameraBg16.png);
	background-size: 16px 16px;
}
.buttonCheckmark {
	background-image: url(../images/iconCheckmarkBg16.png);
	background-size: 16px 16px;
}
.buttonComment {
	background-image: url(../images/iconCommentBg16.png);
	background-size: 16px 16px;
}
.buttonDelete {
	background-image: url(../images/iconDeleteBg16.png);
	background-size: 16px 16px;
}
.buttonEdit {
	background-image: url(../images/iconEditBg16.png);
	background-size: 16px 16px;
}
.buttonEmail {
	background-image: url(../images/iconEmailBg16.png);
	background-size: 16px 16px;
}
.buttonExpand {
	background-image: url(../images/iconExpandBg16.png);
	background-size: 16px 16px;
}
.buttonFlag {
	background-image: url(../images/iconFlagBg16.png);
	background-size: 16px 16px;
}
.buttonGear {
	background-image: url(../images/iconGearBg16.png);
	background-size: 16px 16px;
}
.buttonGraph {
	background-image: url(../images/iconGraphBg16.png);
	background-size: 16px 16px;
}
.buttonHome {
	background-image: url(../images/iconHomeBg16.png);
	background-size: 16px 16px;
}
.buttonLocation {
	background-image: url(../images/iconLocationBg16.png);
	background-size: 16px 16px;
}
.buttonMinus {
	background-image: url(../images/iconMinusBg16.png);
	background-size: 16px 16px;
}
.buttonMobile {
	background-image: url(../images/iconMobileBg16.png);
	background-size: 16px 16px;
}
.buttonNo {
	background-image: url(../images/iconNoBg16.png);
	background-size: 16px 16px;
}
.buttonPlus {
	background-image: url(../images/iconPlusBg16.png);
	background-size: 16px 16px;
}
.buttonRefresh {
	background-image: url(../images/iconRefreshBg16.png);
	background-size: 16px 16px;
}
.buttonSearch {
	background-image: url(../images/iconSearchBg16.png);
	background-size: 16px 16px;
}
.buttonStar {
	background-image: url(../images/iconStarBg16.png);
	background-size: 16px 16px;
}
.buttonTag {
	background-image: url(../images/iconTagBg16.png);
	background-size: 16px 16px;
}
.serviceIconArrowDownLight {
	background-image: url(../images/iconArrowDownBg16.png);
	background-size: 32px 32px;
}
.serviceIconAttachLight {
	background-image: url(../images/iconAttachBg16.png);
	background-size: 32px 32px;
}
.serviceIconBoltLight {
	background-image: url(../images/iconBoltBg16.png);
	background-size: 32px 32px;
}
.serviceIconCameraLight {
	background-image: url(../images/iconCameraBg16.png);
	background-size: 32px 32px;
}
.serviceIconCartLight {
	background-image: url(../images/iconCartBg16.png);
	background-size: 32px 32px;
}
.serviceIconChartLight {
	background-image: url(../images/iconChartBg16.png);
	background-size: 32px 32px;
}
.serviceIconCheckmarkLight {
	background-image: url(../images/iconCheckmarkBg16.png);
	background-size: 32px 32px;
}
.serviceIconClockLight {
	background-image: url(../images/iconClockBg16.png);
	background-size: 32px 32px;
}
.serviceIconCommentLight {
	background-image: url(../images/iconCommentBg16.png);
	background-size: 32px 32px;
}
.serviceIconDollarLight {
	background-image: url(../images/iconDollarBg16.png);
	background-size: 32px 32px;
}
.serviceIconFilesLight {
	background-image: url(../images/iconFilesBg16.png);
	background-size: 32px 32px;
}
.serviceIconFlagLight {
	background-image: url(../images/iconFlagBg16.png);
	background-size: 32px 32px;
}
.serviceIconGearLight {
	background-image: url(../images/iconGearBg16.png);
	background-size: 32px 32px;
}
.serviceIconGlobeLight {
	background-image: url(../images/iconGlobeBg16.png);
	background-size: 32px 32px;
}
.serviceIconHeartLight {
	background-image: url(../images/iconHeartBg16.png);
	background-size: 32px 32px;
}
.serviceIconInfoLight {
	background-image: url(../images/iconInfoBg16.png);
	background-size: 32px 32px;
}
.serviceIconKeyLight {
	background-image: url(../images/iconKeyBg16.png);
	background-size: 32px 32px;
}
.serviceIconLinkLight {
	background-image: url(../images/iconLinkBg16.png);
	background-size: 32px 32px;
}
.serviceIconNoLight {
	background-image: url(../images/iconNoBg16.png);
	background-size: 32px 32px;
}
.serviceIconRefreshLight {
	background-image: url(../images/iconRefreshBg16.png);
	background-size: 32px 32px;
}
.serviceIconScreenLight {
	background-image: url(../images/iconScreenBg16.png);
	background-size: 32px 32px;
}
.serviceIconSearchLight {
	background-image: url(../images/iconSearchBg16.png);
	background-size: 32px 32px;
}
.serviceIconUserLight {
	background-image: url(../images/iconUserBg16.png);
	background-size: 32px 32px;
}
.serviceIconWarningLight {
	background-image: url(../images/iconWarningBg16.png);
	background-size: 32px 32px;
}
.serviceIconArrowDownDark {
	background-image: url(../images/iconArrowDownBg16.png);
	background-size: 32px 32px;
}
.serviceIconAttachDark {
	background-image: url(../images/iconAttachBg16.png);
	background-size: 32px 32px;
}
.serviceIconBoltDark {
	background-image: url(../images/iconBoltBg16.png);
	background-size: 32px 32px;
}
.serviceIconCameraDark {
	background-image: url(../images/iconCameraBg16.png);
	background-size: 32px 32px;
}
.serviceIconCartDark {
	background-image: url(../images/iconCartBg16.png);
	background-size: 32px 32px;
}
.serviceIconChartDark {
	background-image: url(../images/iconChartBg16.png);
	background-size: 32px 32px;
}
.serviceIconCheckmarkDark {
	background-image: url(../images/iconCheckmarkBg16.png);
	background-size: 32px 32px;
}
.serviceIconClockDark {
	background-image: url(../images/iconClockBg16.png);
	background-size: 32px 32px;
}
.serviceIconCommentDark {
	background-image: url(../images/iconCommentBg16.png);
	background-size: 32px 32px;
}
.serviceIconDollarDark {
	background-image: url(../images/iconDollarBg16.png);
	background-size: 32px 32px;
}
.serviceIconFilesDark {
	background-image: url(../images/iconFilesBg16.png);
	background-size: 32px 32px;
}
.serviceIconFlagDark {
	background-image: url(../images/iconFlagBg16.png);
	background-size: 32px 32px;
}
.serviceIconGearDark {
	background-image: url(../images/iconGearBg16.png);
	background-size: 32px 32px;
}
.serviceIconGlobeDark {
	background-image: url(../images/iconGlobeBg16.png);
	background-size: 32px 32px;
}
.serviceIconHeartDark {
	background-image: url(../images/iconHeartBg16.png);
	background-size: 32px 32px;
}
.serviceIconInfoDark {
	background-image: url(../images/iconInfoBg16.png);
	background-size: 32px 32px;
}
.serviceIconKeyDark {
	background-image: url(../images/iconKeyBg16.png);
	background-size: 32px 32px;
}
.serviceIconLinkDark {
	background-image: url(../images/iconLinkBg16.png);
	background-size: 32px 32px;
}
.serviceIconNoDark {
	background-image: url(../images/iconNoBg16.png);
	background-size: 32px 32px;
}
.serviceIconRefreshDark {
	background-image: url(../images/iconRefreshBg16.png);
	background-size: 32px 32px;
}
.serviceIconScreenDark {
	background-image: url(../images/iconScreenBg16.png);
	background-size: 32px 32px;
}
.serviceIconSearchDark {
	background-image: url(../images/iconSearchBg16.png);
	background-size: 32px 32px;
}
.serviceIconUserDark {
	background-image: url(../images/iconUserBg16.png);
	background-size: 32px 32px;
}
.serviceIconWarningDark {
	background-image: url(../images/iconWarningBg16.png);
	background-size: 32px 32px;
}
.iconArrowLeftLight {
	background-image: url(../images/iconArrowLeftBg16.png);
	background-size: 16px 16px;
}
.iconArrowRightLight {
	background-image: url(../images/iconArrowRightBg16.png);
	background-size: 16px 16px;
}
.iconBoltLight {
	background-image: url(../images/iconBoltBg16.png);
	background-size: 16px 16px;
}
.iconCalendarLight {
	background-image: url(../images/iconCalendarBg16.png);
	background-size: 16px 16px;
}
.iconCameraLight {
	background-image: url(../images/iconCameraBg16.png);
	background-size: 16px 16px;
}
.iconCheckmarkLight {
	background-image: url(../images/iconCheckmarkBg16.png);
	background-size: 16px 16px;
}
.iconCommentLight {
	background-image: url(../images/iconCommentBg16.png);
	background-size: 16px 16px;
}
.iconDeleteLight {
	background-image: url(../images/iconDeleteBg16.png);
	background-size: 16px 16px;
}
.iconEditLight {
	background-image: url(../images/iconEditBg16.png);
	background-size: 16px 16px;
}
.iconEmailLight {
	background-image: url(../images/iconEmailBg16.png);
	background-size: 16px 16px;
}
.iconExpandLight {
	background-image: url(../images/iconExpandBg16.png);
	background-size: 16px 16px;
}
.iconFlagLight {
	background-image: url(../images/iconFlagBg16.png);
	background-size: 16px 16px;
}
.iconGearLight {
	background-image: url(../images/iconGearBg16.png);
	background-size: 16px 16px;
}
.iconGraphLight {
	background-image: url(../images/iconGraphBg16.png);
	background-size: 16px 16px;
}
.iconHomeLight {
	background-image: url(../images/iconHomeBg16.png);
	background-size: 16px 16px;
}
.iconLocationLight {
	background-image: url(../images/iconLocationBg16.png);
	background-size: 16px 16px;
}
.iconMinusLight {
	background-image: url(../images/iconMinusBg16.png);
	background-size: 16px 16px;
}
.iconMobileLight {
	background-image: url(../images/iconMobileBg16.png);
	background-size: 16px 16px;
}
.iconNoLight {
	background-image: url(../images/iconNoBg16.png);
	background-size: 16px 16px;
}
.iconPlusLight {
	background-image: url(../images/iconPlusBg16.png);
	background-size: 16px 16px;
}
.iconRefreshLight {
	background-image: url(../images/iconRefreshBg16.png);
	background-size: 16px 16px;
}
.iconSearchLight {
	background-image: url(../images/iconSearchBg16.png);
	background-size: 16px 16px;
}
.iconStarLight {
	background-image: url(../images/iconStarBg16.png);
	background-size: 16px 16px;
}
.iconTagLight {
	background-image: url(../images/iconTagBg16.png);
	background-size: 16px 16px;
}
.iconArrowLeftDark {
	background-image: url(../images/iconArrowLeftBg16.png);
	background-size: 16px 16px;
}
.iconArrowRightDark {
	background-image: url(../images/iconArrowRightBg16.png);
	background-size: 16px 16px;
}
.iconBoltDark {
	background-image: url(../images/iconBoltBg16.png);
	background-size: 16px 16px;
}
.iconCalendarDark {
	background-image: url(../images/iconCalendarBg16.png);
	background-size: 16px 16px;
}
.iconCameraDark {
	background-image: url(../images/iconCameraBg16.png);
	background-size: 16px 16px;
}
.iconCheckmarkDark {
	background-image: url(../images/iconCheckmarkBg16.png);
	background-size: 16px 16px;
}
.iconCommentDark {
	background-image: url(../images/iconCommentBg16.png);
	background-size: 16px 16px;
}
.iconDeleteDark {
	background-image: url(../images/iconDeleteBg16.png);
	background-size: 16px 16px;
}
.iconEditDark {
	background-image: url(../images/iconEditBg16.png);
	background-size: 16px 16px;
}
.iconEmailDark {
	background-image: url(../images/iconEmailBg16.png);
	background-size: 16px 16px;
}
.iconExpandDark {
	background-image: url(../images/iconExpandBg16.png);
	background-size: 16px 16px;
}
.iconFlagDark {
	background-image: url(../images/iconFlagBg16.png);
	background-size: 16px 16px;
}
.iconGearDark {
	background-image: url(../images/iconGearBg16.png);
	background-size: 16px 16px;
}
.iconGraphDark {
	background-image: url(../images/iconGraphBg16.png);
	background-size: 16px 16px;
}
.iconHomeDark {
	background-image: url(../images/iconHomeBg16.png);
	background-size: 16px 16px;
}
.iconLocationDark {
	background-image: url(../images/iconLocationBg16.png);
	background-size: 16px 16px;
}
.iconMinusDark {
	background-image: url(../images/iconMinusBg16.png);
	background-size: 16px 16px;
}
.iconMobileDark {
	background-image: url(../images/iconMobileBg16.png);
	background-size: 16px 16px;
}
.iconNoDark {
	background-image: url(../images/iconNoBg16.png);
	background-size: 16px 16px;
}
.iconPlusDark {
	background-image: url(../images/iconPlusBg16.png);
	background-size: 16px 16px;
}
.iconRefreshDark {
	background-image: url(../images/iconRefreshBg16.png);
	background-size: 16px 16px;
}
.iconSearchDark {
	background-image: url(../images/iconSearchBg16.png);
	background-size: 16px 16px;
}
.iconStarDark {
	background-image: url(../images/iconStarBg16.png);
	background-size: 16px 16px;
}
.iconTagDark {
	background-image: url(../images/iconTagBg16.png);
	background-size: 16px 16px;
}
.socialIconFacebookLight {
	background-image: url(../images/iconFacebookBg16.png);
	background-size: 16px 16px;
}
.socialIconRssLight {
	background-image: url(../images/iconRssBg16.png);
	background-size: 16px 16px;
}
.socialIconDribbbleLight {
	background-image: url(../images/iconDribbbleBg16.png);
	background-size: 16px 16px;
}
.socialIconVimeoLight {
	background-image: url(../images/iconVimeoBg16.png);
	background-size: 16px 16px;
}
.socialIconTwitterLight {
	background-image: url(../images/iconTwitterBg16.png);
	background-size: 16px 16px;
}
.socialIconDeviantArtLight {
	background-image: url(../images/iconDeviantArtBg16.png);
	background-size: 16px 16px;
}
.socialIconLinkedInLight {
	background-image: url(../images/iconLinkedInBg16.png);
	background-size: 16px 16px;
}
.socialIconYouTubeLight {
	background-image: url(../images/iconYouTubeBg16.png);
	background-size: 16px 16px;
}
.socialIconPicasaLight {
	background-image: url(../images/iconPicasaBg16.png);
	background-size: 16px 16px;
}
.socialIconFlickrLight {
	background-image: url(../images/iconFlickrBg16.png);
	background-size: 16px 16px;
}
.socialIconSkypeLight {
	background-image: url(../images/iconSkypeBg16.png);
	background-size: 16px 16px;
}
.socialIconWordPressLight {
	background-image: url(../images/iconWordPressBg16.png);
	background-size: 16px 16px;
}
.socialIconFacebookDark {
	background-image: url(../images/iconFacebookBg16.png);
	background-size: 16px 16px;
}
.socialIconRssDark {
	background-image: url(../images/iconRssBg16.png);
	background-size: 16px 16px;
}
.socialIconDribbbleDark {
	background-image: url(../images/iconDribbbleBg16.png);
	background-size: 16px 16px;
}
.socialIconVimeoDark {
	background-image: url(../images/iconVimeoBg16.png);
	background-size: 16px 16px;
}
.socialIconTwitterDark {
	background-image: url(../images/iconTwitterBg16.png);
	background-size: 16px 16px;
}
.socialIconDeviantArtDark {
	background-image: url(../images/iconDeviantArtBg16.png);
	background-size: 16px 16px;
}
.socialIconLinkedInDark {
	background-image: url(../images/iconLinkedInBg16.png);
	background-size: 16px 16px;
}
.socialIconYouTubeDark {
	background-image: url(../images/iconYouTubeBg16.png);
	background-size: 16px 16px;
}
.socialIconPicasaDark {
	background-image: url(../images/iconPicasaBg16.png);
	background-size: 16px 16px;
}
.socialIconFlickrDark {
	background-image: url(../images/iconFlickrBg16.png);
	background-size: 16px 16px;
}
.socialIconSkypeDark {
	background-image: url(../images/iconSkypeBg16.png);
	background-size: 16px 16px;
}
.socialIconWordPressDark {
	background-image: url(../images/iconWordPressBg16.png);
	background-size: 16px 16px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// HiDPI Framework CSS Rules End                                                                      */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
